:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EB5027;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #EB5027;
}

body main{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: fit-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1 .outline{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #EB5027;

}



@media (prefers-color-scheme: light) {
  :root {
    color: #EB5027;
    background-color: #ffffff;
  }
  a:hover {
    color: #EB5027;
  }
}
